In [1]:
import pandas as pd
import numpy as np

In [5]:
df = np.array([[400, 350, 450, 500],
               [0, 150, 300, 300],
               [30, 180, 100, 200],
               [430, 680,  850, 1000]])

index = ['banana', 'orange', 'plum', 'total']
columns = ['long', 'sweet', 'yellow', 'total']

df = pd.DataFrame(df, columns=columns, index=index)
df

        long  sweet  yellow  total
banana   400    350     450    500
orange     0    150     300    300
plum      30    180     100    200
total    430    680     850   1000

In [19]:
df.values.shape

(4, 4)

In [21]:
result = {}
for i in range(df.shape[0]-1):
    p = 1
    for j in range(df.shape[1]-1):
        p *= df.values[i, j] / df.values[i, -1]
    p *= df.values[i, -1] / df.values[-1, -1]
    result[df.index[i]] = p

result

{'banana': 0.252, 'orange': 0.0, 'plum': 0.013500000000000002}